<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">


    <title>จัดการพนักงาน</title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="/https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon">
                    <!-- <i class="fas fa-laugh-wink"></i> -->
                    <img src="/img/choktawee.png" width="60" height="60" class="logo" alt="">
                </div>
                <div class="sidebar-brand-text mx-3">โชคทวี ออโด้เซลล์</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/offician/mainpage">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/mainpage.png" width="15" height="15" class="logo" alt="">
                    <span>หน้าหลัก</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/offician/buy">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/buycar.png" width="15" height="15" class="logo" alt="">
                    <span>ซื้อรถ</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/offician/sell">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/sellcar.png" width="15" height="15" class="logo" alt="">
                    <span>ขายรถ</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/offician/repair">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/repaircar.png" width="15" height="15" class="logo" alt="">
                    <span>ซ่อมรถ</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/offician/register">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/regis.png" width="15" height="15" class="logo" alt="">
                    <span>เดินทะเบียน</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/offician/stock">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/stock.png" width="15" height="15" class="logo" alt="">
                    <span>สต็อกรถ</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/offician/bill">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/bill.png" width="15" height="15" class="logo" alt="">
                    <span>จัดการใบเสร็จ</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/offician/employee">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/employee.png" width="15" height="15" class="logo" alt="">
                    <span>จัดการพนักงาน</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/offician/customer">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/customer.png" width="15" height="15" class="logo" alt="">
                    <span>จัดการลูกค้า</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/offician/partner">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/partner.png" width="15" height="15" class="logo" alt="">
                    <span>จัดการคู่ค้า</span></a>
            </li>
        </ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    ----

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="/home" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= userName %></span>
                                <img class="img-profile rounded-circle" src="/img/iconuser.png" width="15" height="15"
                                    class="logo" alt="">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <div class="dropdown-item"></div>
                                <a class="dropdown-item" href="/home" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> ออกจากระบบ
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTales Example -->
                    <div class="">
                        <div class="">

                            <!-- </div> -->
                            <div class="card shadow mb-4">
                                <br>
                                <center>
                                    <h3 class="m-0 font-weight-bold text-dark">แก้ไขข้อมูลพนักงาน</h6>
                                </center>
                                <br>
                                <div class="field is-horizontal" style="width: 150%;">
                                    <div class="field-label is-normal">

                                        <p style="margin-top: 0.15vw;">
                                            <label class="label">รหัสพนักงาน :</label>
                                        </p>

                                        <p style="margin-top: 2vw;">
                                            <label class="label">รหัสผ่าน :</label>
                                        </p>

                                        <p style="margin-top: 2vw;">
                                            <label class="label">ชื่อ :</label>
                                        </p>

                                        <P style="margin-top: 2vw;">
                                            <label class="label">นามสกุล :</label>
                                        </P>

                                        <P style="margin-top: 2vw;">
                                            <label class="label">วัน - เดือน - ปีเกิด :</label>
                                        </P>

                                        <P style="margin-top: 2vw;">
                                            <label class="label">เพศ :</label>
                                        </P>

                                        <P style="margin-top: 2vw;">
                                            <label class="label">ที่อยู่ :</label>
                                        </P>
                                        <br>

                                        <P style="margin-top: 2vw;">
                                            <label class="label">เบอร์ติดต่อ :</label>
                                        </P>

                                        <P style="margin-top: 2vw;">
                                            <label class="label">E - mail :</label>
                                        </P>

                                        <P style="margin-top: 2vw;">
                                            <label class="label">ตำแหน่ง :</label>
                                        </P>

                                    </div>

                                    <div class="field-body">
                                        <div class="field">
                                            <form id="addEmployee" method="POST" action="/offician/employee/edit/<%= employee._id %>">

                                                <p class="control">
                                                    <input style="width: 50%;" class="input" type="text" value="<%= employee.ID_employee %>" id="EMP_ID" name="ID_employee" onkeyup="checkInputID()"
                                                    onkeypress="checkInputID()" maxlength="8" minlength="8" readonly>
                                                </p>

                                                <p class="control">
                                                    <input style="width: 50%;" class="input" type="password"  value="<%= employee.password %>" id="EMP_password" name="password" maxlength="15" readonly>
                                                </p>

                                                <p class="control">
                                                    <input style="width: 50%;" class="input" type="text"  value="<%= employee.firstname %>" id="EMP_fname" name="firstname" onkeyup="checkInputFname()"
                                                    onkeypress="checkInputFname()" maxlength="20">
                                                </p>

                                                <p class="control">
                                                    <input style="width: 50%;" class="input" type="text"  value="<%= employee.lastname %>" id="EMP_lname" name="lastname" onkeyup="checkInputLname()"
                                                    onkeypress="checkInputLname()" maxlength="20">
                                                </p>

                                                <p class="control">
                                                    <input style="width: 50%;" class="input" type="date"  value="<%= employee.birthday %>" id="EMP_birthDate" name="birthday">
                                                </p>

                                                <p class="control">
                                                    <div class="select">
                                                        <select id="EMP_gender" name="gender">
                                                            <option value="<%= employee.gender %>" hidden><%= employee.gender %></option>
                                                            <option value="ชาย">ชาย</option>
                                                            <option value="หญิง">หญิง</option>
                                                        </select>
                                                    </div>
                                                </p>

                                                <p class="control">
                                                    <textarea id="EMP_address" name="address" cols="30" rows="10" 
                                                        style="width:50%;height: 67px;" maxlength="150"><%= employee.address %></textarea>
                                                </p>

                                                <p class="control">
                                                    <input style="width: 50%;" class="input" type="text" value="<%= employee.telephone %>" id="EMP_tel" name="telephone" onkeyup="checkInputTel()"
                                                    onkeypress="checkInputTel()" maxlength="10" minlength="10">
                                                </p>

                                                <p class="control">
                                                    <input style="width: 50%;" class="input" type="text" value="<%= employee.email %>" id="EMP_email" name="email" maxlength="30">
                                                </p>

                                                <p class="control">
                                                    <div class="select">
                                                        <select name="position" id="EMP_type">
                                                            <option value="<%= employee.position %>" hidden><%= employee.position %></option>
                                                            <option value="เจ้าหน้าที่ธุรการ">เจ้าหน้าที่ธุรการ</option>
                                                            <option value="พนักงานขาย">พนักงานขาย</option>
                                                            <option value="ช่าง">ช่าง</option>
                                                        </select>
                                                    </div>
                                                </p>
                                            </form>

                                            <% if(err){ %>
                                            <br>
                                            <span id="alertUser"
                                                style="color: red">ไม่สามารถเพิ่มข้อมูลลูกค้าได้เนื่องจาก
                                                รหัสบัตรประจำตัวประชาชน ซ้ำ</span>
                                            <% } %>

                                            <p>
                                                <button type="button" onclick="checkCorrect()" class="button is-success"
                                                    style="margin-top: 1.5vw; margin-left: 37.5vw; color: white;">แก้ไขข้อมูลพนักงาน</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 2562 Object-Oriented Analysis and Design.</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ต้องการออกจากระบบใช่หรือไม่?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">คลิกปุ่ม "ตกลง" หากต้องการออกจากระบบ</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">ยกเลิก</button>
                    <a class="btn btn-primary" href="/home">ตกลง</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="/js/register.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>

</body>

</html>